* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Tahoma;
}

.wrapper {
	margin: 10px;
	border: 2px solid rgb(90, 93, 90);
	width: 376px;
  height: 526px;
}

header {
	padding-top: 9px;
	color: #242424;
}

h1, .sale {
	font-size: 22px;
}

img {
	display: block;
	margin: 26px auto 0 auto;
}

.button {
  border: none;
}

.sale {
  margin-top: 5px;
  background-color: rgb(139, 193, 68);
  width: 190px;
  height: 31px;
  color: white;
  box-shadow: -3px 3px 0px 0px rgb(156, 156, 156);
}

.buy {
  margin-left: 63px;
  background-color: #ff0000;
  border-bottom: 2px solid #850000;
  width: 228px;
  height: 45px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.7);
}


.price {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 31px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.buy, .price, h1, .sale {
	text-align: center;
}