* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Tahoma;
}

.wrapper {
	margin: 10px;
	border: 2px solid rgb(90, 93, 90);
	width: 376px;
    height: 526px;
}

header {
	padding-top: 9px;
	color: #242424;
}

header, .sale {
	font-size: 22px;
}

img {
	display: block;
	margin: 26px auto 0 auto;
}

.sale {
  margin-top: 5px;
  padding: 0 45px 5px 44px; 
  background-color: rgb(139, 193, 68);
  /*width: 190px;
  height: 31px;*/
  color: white;
  box-shadow: -3px 3px 0px 0px rgb(156, 156, 156);
}

/*.Rectangle_1 {
  background-color: rgb(139, 193, 68);
  box-shadow: 0px 4px 0px 0px rgba(156, 156, 156, 0.004);
  position: absolute;
  left: 12px;
  top: 385px;
  width: 190px;
  height: 31px;
  z-index: 12;
}*/

.buy {
  margin-left: 63px;
  padding: 5px 70px;
 /*  display: inline-block;*/
  background-color: #ff0000;
  border-bottom: 2px solid #850000;
 /* width: 228px;
  height: 45px;*/
  font-size: 28px;
  font-family: "Tahoma";
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
}

.price {
  margin-top: 22px;
  margin-bottom: 20px;
  font-size: 31px;
  font-family: "Tahoma";
  text-align: center;
  color: rgb(0, 0, 0);
}

.buy, .price, header, .sale {
	text-align: center;
}